<div>
    <div>
        {{ form.title.label(class="form--label") }}:
    </div>
    <div>
        {{ form.title(class="form--text-field") }}
    </div>
</div>
<div>
    <div>
        {{ form.subhead.label(class="form--label") }}:
    </div>
    <div>
        {{ form.subhead(class="form--text-field") }}
    </div>
</div>
<div>
    <div>
        {{ form.image.label(class="form--label") }}:
    </div>
    <div>
        {{ form.image(class="form--text-field") }}
    </div>
</div>
<div>
    <div>
        {{ form.preview.label(class="form--label") }}:
    </div>
    <div>
        {{ form.preview(class="form--preview form--text-field") }}
    </div>
</div>
<div>
    <div>
        {{ form.copy.label(class="form--label") }}:
    </div>
    <div>
        {{ form.copy(class="form--body form--text-field") }}
    </div>
    <div>
        <p class="form--hint">Hint: You can add links link this: [Add link text between brackets](putURLbetweenParentheses)</p>
        <p class="form--hint">Links may not show up in the preview</p>
    </div>
</div>