<form method="POST" action="{{ url_for('setInitialCredentials') }}">
    <div>
        <div>
            {{ form.username.label(class="form--label") }}:
        </div>
        <div>
            {{ form.username(class="form--set-unpw") }}
        </div>
    </div>
    <div>
        <div>
            {{ form.password.label(class="form--label") }}:
        </div>
        <div>
            {{ form.password(class="form--set-unpw") }}
        </div>
    </div>
    <div>
        <div>
            {{ form.passwordVerify.label(class="form--label") }}:
        </div>
        <div>
            {{ form.passwordVerify(class="form--set-unpw") }}
        </div>
    </div>
    <div class="button-container">
        <input class="button" id="submit-button" type=submit value='Set password' name='submit_button'>
    </div>
</form>