<!-- <!DOCTYPE html>
<html>
    {% include "template-parts/head.html" %}
    <body>
    <section>
        {% include "template-parts/post_body.html" %}
    </section>
    <footer class="footer">
        <div class="footer-container"><a class="footer-link" href="{{ url_for('editConfirmation', slug=slug, index=index)}}">approve</a></div>
    </footer>
    </body>
</html> -->

{% extends "template-parts/base.html" %}

{% block additionalStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='post-styles.css') }}" type="text/css">
{% endblock %}

{% block headerContent %}
    {% include "template-parts/header.html" %}
{% endblock %}

{%block aboutSection %}
<section class="post--approve-container">
    <div class="post--approve"><a class="post--approve" href="{{ url_for('editConfirmation', slug=slug, index=index)}}">approve</a></div>
</section>
{% endblock %}

{% block bodyContent %}
<section>
    {% include "template-parts/post_body.html" %}
</section>
{% endblock %}