{% extends "template-parts/base.html" %}

{% block additionalStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='post-styles.css') }}" type="text/css">
{% endblock %}

{% block headerContent %}
    {% include "template-parts/header.html" %}
{% endblock %}

{%block aboutSection %}
<section class="post--approve-container">
    <div class="post--approve"><a class="post--approve" href="{{ url_for('confirmation')}}">approve</a></div>
</section>
{% endblock %}

{% block bodyContent %}
<section>
    {% include "template-parts/post_body.html" %}
</section>
{% endblock %}