{% extends "template-parts/base.html" %}

{% block additionalStyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='form-styles.css') }}" type="text/css">
{% endblock %}

{% block headerContent %}
    {% include "template-parts/header.html" %}
{% endblock %}

{% block containerClass %}
{% endblock %}

{% block aboutSection %}
{% endblock %}

{% block bodyContent %}
<section class="form--container2">
    {% include "template-parts/error-message.html" %}
    <div>
        <h1>Set Username and Password</h1>
        <p>Try to pick something memorable &hellip; I haven't implemented an easy way to reset passwords yet.</p>
    </div>
    {% from "_formhelpers.html" import render_field %}
    {% include "forms/set-password-form.html" %}
</section>
{% endblock %}
